<h1>Dispatch View</h1>

<h4 id='dispatch-destination'>Map for <%= current_user.destination %>:</h4>

<div class="">
  <input id="dispatch-address" type="text" name="destination" placeholder="<%= current_user.destination %>">
  <button id="dispatch-submit" type="button" name="submit">Submit</button>
</div>

<iframe id="dispatcher-iframe" src="<%= current_user.formatted_destination %>" width="600" height="800"></iframe>

<script type="text/javascript">
  window.api_key = "<%= current_user.api_key %>";
  window.dispatcher_id = "<%= current_user.id %>";
</script>

<%= javascript_include_tag 'dispatcher' %>
