<%= form_with url: '/api/v1/users', method: 'POST' do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "dispatcher", "Dispatcher" %>
    <%= f.radio_button :role, "dispatcher", id: "dispatcher" %>

    <%= f.label "driver", "Driver" %>
    <%= f.radio_button :role, "driver", id: "driver" %>
  </div>


  <%= f.submit "Submit" %>
<% end %>
