<!DOCTYPE html>
<html>
  <head>
    <title>Dispachio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'dispachio' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h4 class="navbar-brand" id="dispachio-title">Dispachio</h4>
          <button id="register-btn" class="btn btn-default">Register</button>
          <button id="login-btn" class="btn btn-default">Login</button>
        </div>
      </div>
    </nav>
    <%= flash[:notice] if flash[:notice] %>
    <% if current_user %>
      <p>Logged in as <%= current_user.username %></p>
    <% else %>
      <%= link_to "Register", register_path %>
    <% end %>
    <%= yield %>


  </body>
</html>
