<!DOCTYPE html>
<html>
  <head>
    <title>Dispachio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'dispachio' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-header">
        <h4 class="navbar-brand" id="dispachio-title">Dispachio</h4>
      </div>
      <h4 id="nav-username"></h4>
      <a href="/" type="button" id="logout-btn" class="btn btn-primary" role="button" >Logout</a>
    </nav>
    <div class="container-fluid login-group register">
      <div class="row">
        <div class="col-sm-6">
          <button type="button" id="register-btn" class="btn btn-block"><a href="/register">Register</a></button>
          <!-- <a href="/register" type="button" id="register-btn" class="btn btn-block" role="button">Register</a> -->
        </div>

        <div class="col-sm-6">
          <button type="button" id="login-btn" class="btn btn-block"><a href="/login">Login</a></button>
          <!-- <a href="/login" type="button" id="login-btn" class="btn btn-block" role="button">Login</a> -->
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
