<!DOCTYPE html>
<html>
  <head>
    <title>Dispachio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'dispachio' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <h4 class="navbar-brand" id="dispachio-title">Dispachio</h4>
          <a href="/register" type="button" id="register-btn" class="btn btn-primary register" role="button">Register</a>
          <a href="/login" type="button" id="login-btn" class="btn btn-primary register" role="button">Login</a>
        </div>
        <h4 id="nav-username"></h4>
        <a href="/" type="button" id="logout-btn" class="btn btn-primary" role="button" >Logout</a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
